
body{
    background-color: #e5e5ff;
}
#one{
	margin:0 auto;
}
h1, h2, h3{
    text-align: center
}
h1{
	background-color: red;
}
#box{
	background-color: white;
	text-align: center;
	font-size: 160%;
}
#end{
	text-align: center;
	background-color: white;
}
#one p{
	font-size: 140%;
}